.card{
  height: 59%;
  width: 59%px;
}
.image{
  float: left;
  margin-left: 0.2rem;
}
.image ::after{
content: "";
display: block;
}
.para{
  width: 70%;
  margin-left: 14rem;
  
}
.head{
  margin-left: 10rem;
}